<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.atguigu.tingshu.album.mapper.TrackInfoMapper">

    <select id="getUserTrackPage" resultType="com.atguigu.tingshu.vo.album.TrackListVo">
        select
        ti.id trackId,
        ti.album_id,
        ti.track_title,
        ti.cover_url,
        ti.media_duration,
        ti.status,
        max(if(stat_type='0701', stat_num, 0)) playStatNum,
        max(if(stat_type='0702', stat_num, 0)) collectStatNum,
        max(if(stat_type='0703', stat_num, 0)) praiseStatNum,
        max(if(stat_type='0704', stat_num, 0)) commentStatNum
        from track_info ti left join track_stat stat
        on stat.track_id = ti.id
        <where>
            <if test="vo.userId != null">
                ti.user_id = #{vo.userId}
            </if>
            <if test="vo.status != null and vo.status != ''">
                and ti.status = #{vo.status}
            </if>
            <if test="vo.trackTitle != null and vo.trackTitle != ''">
                and ti.track_title like concat('%', #{vo.trackTitle} ,'%')
            </if>
            and ti.is_deleted = 0
        </where>
        group by ti.id
        order by ti.id desc
    </select>

    <select id="getAlbumTrackPage" resultType="com.atguigu.tingshu.vo.album.AlbumTrackListVo">
        select
            ti.id trackId,
            ti.track_title,
            ti.media_duration,
            ti.order_num,
            ti.create_time,
            max(if(stat_type='0701', stat_num, 0)) playStatNum,
            max(if(stat_type='0704', stat_num, 0)) commentStatNum
        from track_info ti inner join  track_stat stat
                                       on stat.track_id = ti.id
        where ti.album_id = #{albumId} and ti.status = '0501' and  ti.is_deleted = 0
        group by ti.id
        order by ti.id asc
    </select>
</mapper>

